<header class="d-flex justify-content-center align-items-center py-1">
    <img src="cute-reading-bear-by-Vexels.svg" alt="" class="logo-header">
    <p class="header-title"><span id="urso">Urso</span><span id="teca">Teca</span></p>
</header>